#analytics{
    position: relative;
    width: 100%;
    padding-top: 100px;
    background: rgba( 255, 255, 255, 0 ) !important;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    overflow: hidden;
}
#mood-analytics{
    position: relative;
    width: 90%;
    left: 5%;
    background-color: transparent;
}
#mood-analytics > h1{
    color: white;
    margin-bottom: 20px;
}
#mood-analytics > h5{
    color: white;
}